{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Weihnachtsmann{% endblock %}


{% block scripts %}	
	function TextCounter () {

		var leftchars = document.getElementById("leftcharsID");
		var textbox = document.getElementById("messageID");

		leftchars.innerHTML = ( {{ maxTextLength }} - textbox.value.length);
	};	


	$(function () {
	    $('.button-checkbox').each(function () {

	        // Settings
	        var $widget = $(this),
	            $button = $widget.find('button'),
	            $checkbox = $widget.find('input:checkbox'),
	            color = $button.data('color'),
	            settings = {
	                on: {
	                    icon: 'glyphicon glyphicon-check'
	                },
	                off: {
	                    icon: 'glyphicon glyphicon-unchecked'
	                }
	            };

	        // Event Handlers
	        $button.on('click', function () {
	            $checkbox.prop('checked', !$checkbox.is(':checked'));
	            $checkbox.triggerHandler('change');
	            updateDisplay();
	        });
	        $checkbox.on('change', function () {
	            updateDisplay();
	        });

	        // Actions
	        function updateDisplay() {
	            var isChecked = $checkbox.is(':checked');

	            // Set the button's state
	            $button.data('state', (isChecked) ? "on" : "off");

	            // Set the button's icon
	            $button.find('.state-icon')
	                .removeClass()
	                .addClass('state-icon ' + settings[$button.data('state')].icon);

	            // Update the button's color
	            if (isChecked) {
	                $button
	                    .removeClass('btn-default')
	                    .addClass('btn-' + color + ' active');
	            }
	            else {
	                $button
	                    .removeClass('btn-' + color + ' active')
	                    .addClass('btn-default');
	            }
	        }

	        // Initialization
	        function init() {

	            updateDisplay();

	            // Inject the icon if applicable
	            if ($button.find('.state-icon').length == 0) {
	                $button.prepend('<i class="state-icon ' + settings[$button.data('state')].icon + '"></i> ');
	            }
	        }
	        init();
	    });
	});



{% endblock %}



{% block content %}    
<form id="form1" method="post" action=".">{% csrf_token %}


	{% if message %}
	<div class="row">
		<div class="col-md-12">
            	<div class="alert alert-{{ state }}"> 
            		{% autoescape off %}
            		<strong>{{ message }}</strong>
            		{% endautoescape %}
            	</div>
		</div>
	</div>
	{% endif %}


	<div class="row" id="mandatory-fields">
		<div class="col-md-12">
			<div class="input-group input-group-lg">
			  <span class="input-group-addon glyphicon glyphicon-phone"></span>
			  <input type="text" class="form-control input-lg" placeholder="Emfänger Mobil oder Mail" name="receiverField">
			</div>
		</div>
	</div>

	<div class="row" id="optional-fields">
		<div class="col-md-6">
			<div class="input-group input-group-lg">
			  <span class="input-group-addon glyphicon glyphicon-user"></span>
			  <input type="text" class="form-control input-lg" placeholder="Absendername" name="senderName">
			</div>
		</div>
		<div class="col-md-6">
			<span class="button-checkbox">
        		<button type="button" class="btn btn-lg" data-color="primary">Nachricht</button>
        		<input type="checkbox" name="zettel" class='hidden'/>
    		</span>
		</div>
    </div>
	<div class="row">
		<div class="col-md-12">
    		<Textarea cols="10" rows="4" maxlength=" {{ maxTextLength }} " id="messageID" class="inputbox" oninput="TextCounter()" name="messageText">{{ messageText }}</Textarea>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
		    <div class="btn-group">
				<button type="submit" class="btn btn-primary btn-lg">
		  			<span class="glyphicon glyphicon-ok"></span> Senden
				</button>

				<button type="button" class="btn btn-default btn-lg" onclick="resetAction()">
		  			<span class="glyphicon glyphicon-remove"></span> Abbrechen
				</button>
		    </div>
		</div>
		<div class="col-md-6">
            <a id="leftcharsID" class="bigtext pull-right">160</a><br>
		</div>
	</div>
</form>
{% endblock %}



{% block bottombar %}
	<div class="col-md-3">
		<img src="{% static 'img/logo_01.svg' %}" class="sponsorlogo"/>
	</div>
	<div class="col-md-3">
		<img src="{% static 'img/sponsor_01.jpg' %}" class="sponsorlogo"/>
	</div>
	<div class="col-md-3">
		<img src="{% static 'img/sponsor_02.png' %}" class="sponsorlogo"/>
	</div>
	<div class="col-md-3">
		<img src="{% static 'img/sponsor_03.jpg' %}" class="sponsorlogo"/>
	</div>
{% endblock %}