
body {
    background-image: url("background.jpg");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% auto;
    font-family: sans-serif;
    font-weight: bold;
    height: 100%;
}
.inputbox {
    font-family: sans-serif;
    font-size: 2.5em;
    width: 100%;
    margin-bottom:5px;
    padding:5px;
}
.inputbox:invalid {
    background-color: red;
    color: whitesmoke;
}
.button {
    float: left;
    font-family: sans-serif;
    font-size: 2em;
    margin-right: 20px;
}

.slider {
	height: 3em;
	float: left;
	width: 120px;
}

.bigtext {
    float: right;
    font-size: 2.5em;
}
#mainID {
    background-color: whitesmoke;
    border-radius: 10px 10px 10px 10px;
    margin: 110px auto 20px;
    overflow: visible;
    padding: 30px;
    width: 70%;
}
#overlay {
    height: auto;
    position: relative;
    width: auto;
}
#muetze {
    height: 156px;
    left: -120px;
    position: absolute;
    top: -132px;
    z-index: 10;
}
#bottomimagebar {
    bottom: 0;
    margin: 30px auto;
    width: 70%;
    text-align: center;
}

.sponsorlogo {
	height: 80px;
	padding-left: 15px;
	padding-right: 15px;
}

